body{
	background-color:E6E6FA;
    text-align-last: center;
    border:1px solid black;
    margin:50px;
    }
table,th,td
    {
    padding:15px;
    border: 1px solid black;
    border-collapse:collapse;
	margin-top: 10px;
    margin-left: 100px;
    background-color: rgb(255, 244, 244);
    text-align: left;
    width:1000px;
    }
table
    {
        border-spacing:10px;
    text-align-last:center;
    }
td{
    text-align: left;
    font-size: 150%;
  }
  a{
    text-align:center;
    background-color:none;
    width: 10px;
    text-align:200px;
	color: rgb(32, 30, 190);
	font-size: 150%;
  }